* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}

table,
tr,
th,
td {
  border: 2px solid rgb(146, 100, 207);
  border-collapse: collapse;
  padding: 5px;
}
header {
  background-color: rgb(146, 100, 207)l;
  padding: 15px 0;
  font-size: 40px;
}
button{
  padding: 10px;
  border-radius: 8px;
  background-color: purple;
  color: white;
  border: transparent;
}
button:hover{
  background-color: transparent;
  color:purple ;
  border: 1px solid purple;
}