#header{
background-color: orange;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}
.header nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.header nav ul li a{
font-size: 20px;
}
.header h1{
    font-size: 40px;
}